body {
  background-color: #FCD31E;
}

.bg-yellow-hex {
  background-color: #FCD31E;
}

.vh-x {
  height: 50vh;
}

.buttoncolorredhex {
  background-color: #EF3340;
}

.bg-green {
  background-color: #5EAE31
}

.widthpx {
  width: 750px;
  height: 500px;
}