body {
  background-color: #FCD31E;
}

.bg-yellow-hex {
  background-color: #FCD31E;
}

.vh-x {
  height: 82.5vh;
}

.buttoncolorredhex {
  background-color: #EF3340;
}

.bg-green {
  background-color: #5EAE31
}